layout {

    focus-ring {
        active-color   "#8967e4"
        inactive-color "#18112c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#8967e4"
        inactive-color "#18112c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#18112c70"
    }

    tab-indicator {
        active-color   "#8967e4"
        inactive-color "#2f0c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#8967e480"
    }
}

recent-windows {
    highlight {
        active-color "#8967e4"
        urgent-color "#fd4663"
    }
}
